USE [master]
GO
/****** Object:  Database [gImformation]    Script Date: 06/16/2017 08:39:28 ******/
CREATE DATABASE [gImformation] ON  PRIMARY 
( NAME = N'gImformation', FILENAME = N'J:\程序设计\15251104238彭荣华\数据库文件\gImformation.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gImformation_log', FILENAME = N'J:\程序设计\15251104238彭荣华\数据库文件\gImformation_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gImformation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gImformation]
GO
/****** Object:  Table [dbo].[gIm]    Script Date: 06/16/2017 08:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gIm](
	[gNum] [int] NOT NULL,
	[gName] [nvarchar](20) NULL,
	[gClass] [nvarchar](20) NULL,
	[gPrice] [decimal](18, 2) NULL,
	[gSalesPrice] [decimal](18, 2) NULL,
	[whoName] [nvarchar](20) NULL,
	[gQuatity] [int] NULL,
 CONSTRAINT [PK_gIm] PRIMARY KEY CLUSTERED 
(
	[gNum] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_gIm] UNIQUE NONCLUSTERED 
(
	[gNum] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
